<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="D:\TournamentYTracker"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="server=localhost\SQLEXPRESS11;database=Tournaments;Trusted_Connection=True;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>